{% load static %}
<head>
    <script src="{% static 'jquery-3.5.0.js' %}"></script>
    <script>
        $(document).ready(function() {
            var panels = $('.acc_panel').hide();
            $('.acc_title').click(function() {
                panels.slideUp();
                $(this).parent().next().slideDown();
            })
            $('.up').click(function() {
                $(this).parent().parent().after($(this).parent().parent().prev());
            })
            $('.down').click(function() {
                $(this).parent().parent().next().after($(this).parent().parent());
            })
        })
    </script>
</head>

<body>
    <div class="title">Accordion</div>
    <div class="accordions">
        <div class="accordion">
            <div class="buttons">
                <button class="acc_title">Aktivitas saat ini</button>
                <button class="down">v</button> 
                <button class="up">^</button>
            </div>
            <div class="acc_panel">
                <p>KULIAH :))) god lemme rest</p>
            </div>
        </div>

        <div class="accordion">
            <div class="buttons">
                <button class="acc_title">Pengalaman organisasi/ kepanitiaan</button>
                <button class="down">v</button> 
                <button class="up">^</button>
            </div>
            <div class="acc_panel">
                <ul>
                    <li>Malam Keakraban KMB UI Design Division</li>
                    <li>Desa Binaan KMB UI Design Division</li>
                    <li>Vesak KMB UI Web Engineering Division</li>
                </ul>
            </div>
        </div>

        <div class="accordion">
            <div class="buttons">
                <button class="acc_title">Prestasi</button>
                <button class="down">v</button> 
                <button class="up">^</button>
            </div>
            <div class="acc_panel">
                <p>cmn pnh juara paralel 17 di Sutomo :)</p>
            </div>
        </div>

        <div class="accordion">
            <div class="buttons">
                <button class="acc_title">Bestie i</button>
                <button class="down">v</button> 
                <button class="up">^</button>
            </div>
            <div class="acc_panel">
                <ul>
                    <li>Erica, Eko, Jessie, Geo</li>
                    <li>WH, Yosi, Nalton</li>
                </ul>
            </div>
        </div>
    </div>
</body>