{% load static %}
<head>
    <meta charset='UTF-8'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <link rel="stylesheet" href="{% static 'pages.js' %}">
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    <a href="{% url 'logout' %}">Log out</a>
    <button id="play" onclick="playSong();">Play Audio</button>
    <script>
    $(function(){
    });
    function playSong(){
        document.getElementById("play").style.display ="none";
        var audio = new Audio();
        audio.src = "https://www.dropbox.com/s/tkm832gwc0vosxd/EVERGLOW%20DUN%20DUN%20pixel.mp3?raw=1";
        audio.loop = true;
        audio.autoplay = true;
        audio.play();
    }
    </script>
</body>