{% load static %}
<h1 class="title">Sign Up</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button class="submit" type="submit">Submit</button>
</form>
<small>Already have an account?</small> <a href="{% url 'login' %}">Sign In</a>