<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="title">List</div>
    <div class="container">
        {% for dot in data %}
            <div>
                <div class="list-name">
                    {{dot.name}}
                </div>
                <div class="list-status">
                    {{dot.status}}
                </div>

            </div>
        {% endfor %}
    </div>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <!-- <input type="hidden" name="next" value="{{ request.path }}"> -->
        <button type="submit">Submit</button>
    </form>
</body>
