<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="title">Confirmation Page</div>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="confirm_box">
            <div class="confirm_name">
                Name: {{name}}
            </div>
            <div class="confirm_status">
                Status: {{status}}
            </div>
        </div>
        <h3>Are you sure you want to post this ?</h3>
        <input class="confirm" name="pos" value="Yes" type="submit">
        <input class="confirm" name="neg" value="No" type="submit">
    </form>
</body>