{% load static %}
<head>
    <script src="{% static 'jquery-3.5.0.js' %}"></script>
    <script>
        function likey() {
            let title = $(this).prev().val();
            let likey = 0;
             $.ajax({
                method: 'PUT',
                url: `https://www.googleapis.com/books/v1/volumes`,
                data: `{
                    "volumeInfo": {
                        "title": "${title}","likey": ${likey}; 
                    }
                }`,
            }).done(function(data) {
                console.log(data);
            })
        }
        $(document).ready(function() {
            $('.search').keyup(function() {
                if ($('.search').val()!="") {
                    // $('.result').html(
                    //     `<tr>
                    //         <td>Title</td>
                    //         <td>💜</td>
                    //         <td>Author</td>
                    //         <td>Description</td>
                    //     </tr>`
                    // );
                    $.getJSON(`https://www.googleapis.com/books/v1/volumes?q=tt${$('.search').val()}+tt+auth`, function(mor) {
                        var items = mor.items;
                        // $('.result').append(`<tr><td>${JSON.parse(mor)}</td></tr>`);
                        $.map(items, function(item) {
                            console.log(key, value);
                            let thumbnail = item.volumeInfo.imageLinks.thumbnail;
                            let title = item.volumeInfo.title;
                            let likey = item.volumeInfo.likey;
                            let authors = item.volumeInfo.authors ? item.volumeInfo.authors : "No author provided";
                            let description = item.volumeInfo.description ? item.volumeInfo.description : "No description provided";
                            $('.result').append(
                                `<tr>
                                    <td><img src="${thumbnail}"><br>${title}</td>
                                    <td><button onClick=likey() id="likey">💜${likey}</button></td>
                                    <td>${authors}</td>
                                    <td>${description}</td>
                                </tr>`
                            );
                        })
                    })
                }
            })
            let buttons = $('#likey');
            console.log(buttons);
            buttons.click(function() {
                $(this).likey +=1; 
            })
            $('#top').click(function(x) {
                var max = 0;
                if(x.volumeInfo.likey > max){
                    max = x.volumeInfo.likey;
                }
                var idk = 0;
                for (var i = 0; i < 5; i++) {
                    if(this.volumeInfo.likey == max-idk){
                        $('.result').html(
                        `<tr>
                            <td>Title</td>
                            <td>💜</td>
                            <td>Author</td>
                            <td>Description</td>
                        </tr>`
                        );
                        idk +=1;
                    }
                    else{
                        idk +=1;
                        i -=1;
                        continue;
                    }
                }
            })
        })
    </script>
</head>
<body>
    <div class="title">Books</div>
    <input class="searchbox" placeholder="search by title or author" type="text"></input>
    <button class="button" id="top">Most Liked</button>
    <table class="results">
        <thead>
            <tr>
                <td>Title</td>
                <td>💜</td>
                <td>Author</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</body>
